.sidebar{
    flex: 1;
    border-right: 0.5px solid black;
    min-height: 100vh;
    

    .top{
        height: 47.6px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            font-size: 20px;
            font-weight: bold;
            color: purple;
        }
    }
    hr{
        height: 0;
        border: 0.5px solid rgb(11, 11, 11);
    }   

    .center{
        padding-left: 20px;
        ul{
            list-style: none;
            padding: 0;
        }
        li{
            display: flex;
            align-items: center;
            justify-content: left;
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;

            &:hover{
                background-color: #ece8ff;
            }
        }
        .icon{
            color: darkblue;
        }
    }
    
}